@import 'normalize.css';

@import './vars.pcss';
@import './layout.pcss';
@import './components/header.pcss';
@import './components/writing.pcss';
@import './components/copy-button.pcss';
@import './components/page.pcss';
@import './components/greeting.pcss';
@import './components/auth.pcss';
@import './components/error.pcss';
@import './components/button.pcss';
@import './components/sidebar.pcss';
@import './components/navigator.pcss';
@import './components/table-of-content.pcss';

body {
  font-family: system-ui, Helvetica, Arial, Verdana;
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* fill color for btn icons */
.docs-button svg {
  fill: currentColor;
}

/* fix for superscript icon for inline toolbar */
[data-tool="superscript"] {
  svg {
    height: 15px;
    width: 15px;
    padding: 5px;
  }
}

/* remove unnesery color filling */
.codex-editor path {
  stroke: revert-layer;
}

a {
  text-decoration: none;
  color: inherit
}
